<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>
    <link rel="stylesheet" href="css/cart.css">


<body>
    <%- include('header.ejs') %>
    
     
    
            <% if (cartItems === 0) { %>
                <div class="emptyCartMessage"  >
                   <img src="images/coffeeCart.png" alt="">
                    <h2>Your cart is empty</h2>
                    <p>Looks like you haven't added anything to your cart yet</p>
                    <a href="/featured" class="btn-shop" style="  font-family: 'Amatic SC', cursive;color: #fff;text-decoration: none;padding: 10px 0;border-radius: 5px;text-align: center;display: block;line-height: 25px;box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);transition: background-color 0.3s ease;background: #c49c88;width: 4 0%;font-size: 2em;">EXPLORE COFFEES</a>
                  </div>
             <% } else { %>
              <div class="cartList">
                <ul class="cartItems">
       
        
            <li class="grid_4 cartItem item-no-2" id="cart-no-2">
              <a href="#" class="btn-remove">
                <i class="far fa-trash-alt"></i>
              </a>
              <div class="preview">
                <img src="../images/product/2.jpg" />

              <div class="inner_container">
      
                <div class="col_1of2 align-center picker">
                  <p>
                    <a href="#" class="btn-quantity plus">
                      <i class="fas fa-plus"></i>
                    </a>
                  <div class="col_1of2 quantity-text">
                    <p><span class="current_quantity">5</span> @ ₹10</p>
                  </div>
                  <a href="#" class="btn-quantity minus">
                    <i class="fas fa-minus"></i>
                  </a>
                  </p>
      
                </div>
              </div>
      
            </li>
          </ul>
          <ul class="cartItems">
       <li class="grid_4 cartItem item-no-1" id="cart-no-1">
              <a href="#" class="btn-remove" >
                <i class="far fa-trash-alt"></i>
              </a>
              <div class="preview">
                <img src="../images/product/2.jpg" />
              </div>
              <div class="details" data-price="15.50">
                <h3>
                   Expresso
                </h3>
              
      
              </div>
              <div class="inner_container">
      
                <div class="col_1of2 align-center picker">
                  <p>
                    <a href="#" class="btn-quantity plus">
                      <i class="fas fa-plus"></i>
                    </a>
                  <div class="col_1of2 quantity-text">
                    <p><span class="current_quantity">10</span> @ ₹20</p>
                  </div>
                  <a href="#" class="btn-quantity minus">
                    
                    <i class="fas fa-minus"></i>
                  </a>
                  </p>
      
                </div>
              </div>
      
            </li>
            <% } %>
        



         
          </ul>
        
        
        
        </div>
          <div class=" checkoutList" >
    
      
      <div class="grid_12 coupon">
        <h3>Apply Coupon</h3>
        <input class="coupon-input" type="text">
      </div>
 
      
  
            <a href="#" class="btn-checkout btn-reverse">Continue Shopping</a>
  
            <a href="/thanks" class="btn-checkout">Checkout</a>
  
          </div>
        </div>
      </div>
    </div></div>




 
    
<script src="js/script.js"></script>

</body>
</html>