<!DOCTYPE html>
<html lang="en">
    <meta http-equiv="refresh" content="3;url=/home" />
<%- include('head.ejs') %>
<body>
    <%- include('header.ejs') %>
    <div class="thanks" style="font-family: 'Sacramento', cursive; display: flex; justify-content: center; align-items: center; height: 65vh;">
        <div>
            <h1>Thank you for your purchase!</h1>
            <p style="font-size: 33px;text-align: center;">Your order has been placed successfully.</p>
        </div>
    </div>
    <p style="text-align: center;
    top: 100px;
    position: relative;">You will be redirected to the home page shortly</p>



</script>
</body>
</html>